<%- include('header') %>
<h2>This is about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis a aliquid provident et, officiis amet quaerat labore reprehenderit, culpa animi alias tempora laboriosam veniam assumenda voluptatibus. Delectus expedita debitis molestias? </p>

<%- include('footer') %>